/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.all {
  display: flex;
  align-items: center;
  gap: 30px;
}

.img-botao {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
